<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:kf="http://kfwebstandard.com/facelets" >
    <h:head>
        <h:outputStylesheet library="css" name="main.css" />
        <title>#{msgs.bodyTitle}</title>
    </h:head>
    <h:body>
        <h1>#{msgs.bodyTitle}</h1>

        Translation: Dog in pig latin is <kf:mydictionary value="dog" />
        <h:form>
            <kf:buttonpanel okTxt="#{msgs.ok}" cancelTxt="#{msgs.cancel}" btnStyle="btn2"/>
        </h:form>
        <kf:mygoback/>
        <br/>
        <kf:mygoback value="#{msgs.goBack}" />
    </h:body>
</html>

